<head>
  <title><%= @handle %> - User Modeling</title>
</head>

<body style="font-family:verdana;font-size:8pt">
  <div style="padding-top:10px;padding-left:100px">
  <div id="body" style="width:900px;text-align:center;border:1px ;border-color:#CCCCCC; border-radius: 25px">

  <div width="900px" style="width:900px;text-align:center;border:1px solid; border-color:lightblue; color:#777777;border-radius: 25px">
  <H1>User Modeling for Twitter handle <font color="blue"><%= @handle%></font></H1>
  </div>
  <p>

  <% if defined? @text %>
  <span id="twitter_text"><H2>Analyzed Text</H2></span>
  <div width="900px" style="width:900px;text-align:center;border:1px solid; border-color:#CCCCCC; border-radius: 25px">
      <textarea id="textarea" style="width:700px;border:1px;border-color:#CCCCCC; border-radius:15px;" rows="6" disabled><%= @text %></textarea><BR>
  </div>
  <% end %>
  <p>
  <span id="personality"><h2>Personality Scorecard</h2></span>
  <div width="900px" style="width:900px;text-align:center;border:1px solid; border-color:#CCCCCC; border-radius: 25px">
        <% if defined? @traits %>
        <table id="profile" width="500px" style="font-face:verdana;padding-left:40px;border-color:#CCCCCC; border-radius: 25px">
          <% for @trait in @traits %>
            <% if @trait[:title] && @trait[:value] %>
            <tr><td width="75%">
              <h3><%= @trait[:id].capitalize %></h3>
            </td>
            <td><h3><%= @trait[:value] %></h3></td></tr>
            <% end %>
          <% end %>
        </table>
        <% end %>
   </div>
  <p>
  <span id="personality"><h2>Personality Visualization</h2></span>
  <div width="900px" style="width:900px;text-align:center;border:1px solid; border-color:#CCCCCC; border-radius: 25px">
        <% if defined? @viz %>
        <%= @viz %>
        <% end %>
  </div>
  </div>
</body>

